[submodule "libopencm3"]
	path = libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "nuttx-blink/nuttx"]
	path = nuttx-blink/nuttx
	url = https://bitbucket.org/nuttx/nuttx.git
[submodule "nuttx-blink/apps"]
	path = nuttx-blink/apps
	url = https://bitbucket.org/nuttx/apps.git
[submodule "cmsis-rtos-rtx/CMSIS_5"]
	path = cmsis-rtos-rtx/CMSIS_5
	url = git@github.com:ARM-software/CMSIS_5.git
